* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.cool-menu {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  background: url('nature.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

nav ul li {
  display: inline-flex;
  margin: 5px 15px -5px 15px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 23px;
  display: block;
  padding: 0px 20px;
  overflow: hidden;
  font-weight: 700;
}

ul li .menu .f-word {
  display: inline-block;
  position: relative;
  transition: transform .3s;
}

ul li .menu .s-word {
  display: inline-block;
  position: relative;
  transition: transform .3s;
}

ul li .menu .s-word {
  margin-left: -6px;
}

ul li .menu .f-word::before {
  position: absolute;
  content: attr(data-hover);
}

ul li .menu .s-word::before {
  position: absolute;
  content: attr(data-hover);
}

ul li .menu .f-word::before {
  color: #17026c;
  top: 110%;
}

ul li .menu .s-word::before {
  color: #17026c;
  bottom: 110%;
}

a:hover .f-word {
  transform: translate3d(0, -110%, 0);
}

a:hover .s-word {
  transform: translate3d(0, 110%, 0);
}

.jumbotron-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  background: url('pixel.gif') repeat;
}

img, svg {
}

.simple-slider {
  z-index: 0;
  position: sticky;
}

.swiper-container {
  position: absolute;
  z-index: 0;
}

.col-auto.d-flex.justify-content-center.justify-content-xl-center.align-items-xl-center {
  position: absolute;
}

p {
  position: absolute;
  z-index: 6;
  top: 0px;
}

img, svg {
  object-fit: cover;
}

.img-fluid.float-none.justify-content-center.align-items-center.justify-content-sm-center.align-items-sm-center.justify-content-md-center.align-items-md-center.justify-content-lg-center.align-items-lg-center.justify-content-xl-center.align-items-xl-center {
  position: absolute;
  top: 0px;
  z-index: 5;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

video {
  position: absolute;
  z-index: 9;
}

video {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  /*z-index: -100;*/
  background-size: cover;
  overflow: hidden;
}

.col-md-12.col-lg-5.offset-lg-1.text {
  position: absolute;
  z-index: 11;
}

.swiper-slide {
  position: sticky;
}

.row.align-items-center {
}

.d-xl-flex.align-items-center.align-content-center.align-self-center.align-items-sm-center.align-items-md-center.align-items-lg-center.justify-content-xl-center.align-items-xl-center {
  position: relative;
}

